.main {
    margin: 50px 50px;
}
.title {
    display: inline-block; margin-right: 25%;
}
.paragraph {
    display: inline-block;
}
.block1 {
    position: relative;
    margin: 0 auto;
    }
.block1-2{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 200px;
    padding-left: 5%;
    color: #fff;

    }
.img1 {
    position: absolute;
    width: 100%;
    height: 200px;  
}
.button1 {
    background-color: rgb(99, 99, 236);
    color: #fff;
    font-weight: bold;
    border-radius:  25px;
    margin-left: 25px;
    margin-bottom: 15px; 
} 
.main2 {
    position: absolute;
    margin-top: 250px;
    background-color:aliceblue;
    display: inline-block;
}
.img2 {
    width: 200px;
    height: 130px;
    vertical-align:middle;
}
.wraper {display: inline-block;
    width: 400px;
    margin-left: 10px;
    vertical-align:middle;
    overflow:auto;
    height: 200px;
}
.main3 {
    display: inline-block;
    position: relative;
    margin-top: 250px;
    margin-left: 700px;  
}
 .img3 {
    position: absolute;
    width: 100%;
    height: 250px; 
    border-radius: 25px; 
}
.block3 { 
    position: relative;
    margin: 0 auto;  
}
.block3-1 {  
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 250px;
    padding-left: 5%;
    border-radius: 25px;
}
.subscribe {
    width: 400px;
    margin-top: 300px;
    background-color:aliceblue;
    border-radius: 25px;
    padding: 5%;
}



